.hero-section {
  h1 {
    width: 1068px;
    margin-left: 186px;
    top: 162px;
    font-family: "Clash Display";
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    text-align: center;
    color: #292929;
  }
  p {
    height: 88px;
    margin-left: 65px;
    margin-top: 30px;
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    text-align: center;
    color: #292929;
  }
}
