.featured-products {
  h1 {
    width: 395px;
    height: 65px;
    margin-left: 120px;
    margin-top: 65px;
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    color: #333333;
  }
}
